<header class="myheader" style="animation: fushang 0.5s;">
<div class="top">
    <!--头像左边部分-->
    <div class="top-left" style="animation: fuzuo 1s;">
        <div class="logo">
            <a href="" title=""><img src="" /></a>
        </div>
        <!--滚动消息-->
        <!--<div class="web-xiaoxi">-->
        <!--<i class="el-speaker"></i>-->
        <!--<ul class="mulitline">-->
        <!--<li style="margin-top: -8.56267px;">本站内容仅供学习和参阅，不做任何商业用途。 </li>-->
        <!--&lt;!&ndash;<li style="margin-top: 0px;">内容如有侵犯，请立即联系管理员删除</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li style="margin-top: 0px;">做了一些小调整，使之看起来更像博客。</li>&ndash;&gt;-->
        <!--</ul>-->
        <!--</div>-->
        <!--END 消息 -->
    </div>
    <!--电脑导航开始-->
    <nav class="mynav">
        <ul class="orange-text">
            <li class="nav-active" style=" animation-name: fushang; animation-duration: 0.5s;"><a href="JavaScript:;" title="">首页</a></li>
            <li style="animation-name: fushang; animation-duration: 0.666667s;"><a href="JavaScript:;" title="">第一</a></li>
            <li class="drop" style="animation-name: fushang; animation-duration: 0.833333s;"> <a href="JavaScript:;" title="">第二<i class="el-chevron-down"></i></a>
                <div class="drop-nav orange-text " style="animation: zuo1 0.8s; display: none;">
                <ul>
                <li><a href="" title="">编程开发</a></li>
                <li><a href="">系统架构</a></li>
                <li><a href="">前端设计</a></li>
                <li><a href="">修炼之道</a></li>
                <li><a href="">程序人生</a></li>
                <li><a href="">千锤百炼</a></li>
                <li><a href="">黑客帝国</a></li>
                <li><a href="">搜索引擎</a></li>
                </ul>
                </div>
            </li>
            <li style="animation-name: fushang; animation-duration: 1s;"><a href="JavaScript:;" title="">第三</a></li>
            <li style="animation-name: fushang; animation-duration: 1.16667s;"><a href="JavaScript:;" title="">第四</a></li>
            <li style="animation-name: fushang; animation-duration: 1.33333s;"><a href="JavaScript:;" title="">第五</a> </li>
            <li style="animation-name: fushang; animation-duration: 1.5s;"><a href="JavaScript:;">第六</a></li>
        </ul>
        <!--移动的滑动-->
        <div class="move-bg"></div>
        <!--移动的滑动 end-->
    </nav>
</div>
</header>