<div class="swiper-container swiper-container-horizontal swiper-container-autoheight" style="animation: fuxiasuo 0.8s;">
    <ul class="slides swiper-wrapper" style="height: 336px; transform: translate3d(-1560px, 0px, 0px); transition-duration: 0ms;">
        <li class="swiper-slide" style="width: 780px;"> <a href="" title=""> <img src="" alt="" /> </a>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-fraction">
                <span class="swiper-pagination-current">3</span> /
                <span class="swiper-pagination-total">3</span>
            </div> <span class="silde-title" style=""></span> </li>
        <li class="swiper-slide swiper-slide-prev" style="width: 780px;"> <a href="" title=""> <img src="" alt="" /> </a>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-fraction">
                <span class="swiper-pagination-current">3</span> /
                <span class="swiper-pagination-total">3</span>
            </div> <span class="silde-title" style=""></span> </li>
        <li class="swiper-slide swiper-slide-active" style="width: 780px;"> <a href="" title=""> <img src="" alt="" /> </a>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-fraction">
                <span class="swiper-pagination-current">3</span> /
                <span class="swiper-pagination-total">3</span>
            </div> <span class="silde-title" style=""></span> </li>
    </ul>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-disabled"></div>
    <div class="swiper-button-prev"></div>
</div>